{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} Offers {# parent() will display the title from base view "AutoTrader" #}
{% endblock %}

{% block body %}
	<h1><b>Our Offer</b></h1>
{% endblock %}
